body
	{
		font-family: 'Open Sans';
	}
	* {
		margin: 0px;
		padding: 0px;
	}

	#header
	{
		background-color: #0066cc;
	}
	#postTable  {
  padding-top: 20px;
    width: 100%;
    height: 100%;
		margin-left: 30px;
}
	#searchEngine  {
  padding-top: 20px;
    width: 70%;
    height: 70%;
		margin-left: 360px;
		position: inline-table;
}
	#submit  {
  padding-top: 20px;
    width: 70%;
    height: 70%;
		margin-left: 80px;
		margin-top: -30px;
		display: inline-table
}
	#searchResult  {
  padding-top: 20px;
    width: 100%;
    height: 100%;
		margin-left: 120px;
		margin-top: -70px;
		display: inline-table
}
	#searchImage  {
float: right;
margin-right: 80px;
margin-top: -120px;
width: 400px;
height: 300px;
}
	#title
	{
		font-size: 50px;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	#yelpsGeneratedPic{
		width: 70px;
		height: 70px;
	}
	#yelpsGeneratedPic2{
		width: 400px;
		height: 300px;
	}
	#twoButtons{
		
	}
	#title2
	{
		margin-bottom: 20px;
		font-size: 20px;
	}
	#suggestion
	{
		font-size: 24px;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		font-weight: 200;
		font-family: 'Open Sans';
	}
	#map
	{
		width: 300px;
		height: 300px;
	}
	#new
	{
		width:220px;
		font-weight: 600;
		font-family: 'Open Sans';
		height:30px;
		font-size: 18px;
		background-color: #ffcc00
;
		border-radius: 4px;
		color:#fff;
		text-align:center;
		padding:10px;
		padding-top:15px;
		padding-bottom: 20px;
		margin-top:40px;
		cursor:pointer;
		transition-duration: 0.4s;
	}
	#new:hover {
		border: 3px solid #ffcc00
;
		background-color: white;
		color: #ffcc00
;
	}
	#footer
	{
		margin-top: 50px;
		position: absolute;
		width: 100%;
		bottom: 5px;
		font-size: 12px;
	}
	</style>
