<center><h1>{{ currentUser.username }}'s Favorites:</h1>
<br>
<table id="postTable">
  <thead>
    <tr>
      <th class="postTableCss">Name:</th>
      <th class="postTableCss">Open Now:</th>
      <th class="postTableCss">Rating:</th>
      <th class="postTableCss">Price Level:</th>
      <th class="postTableCss">Address:</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="restaurant in currentUser.favorite" id='searchContainer'  style='cursor:pointer'>
      <td>{{restaurant.name}}</td>
      <td>{{!restaurant.is_closed}}</td>
      <td>{{restaurant.rating}}</td>
      <td>{{restaurant.price}}</td>
      <td>{{restaurant.location.address1}},  {{restaurant.location.city}},
        {{restaurant.location.state}} {{restaurant.location.zip_code}}
      </td>
    </tr>
</center>
